<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechatserver.mapper.ArticleMapper">
	<insert id="insert" parameterType="java.util.HashMap">
		insert into resp_message_news_dtl
		(article_id,article_title,article_description,article_picurl,article_url)
		values
		<foreach collection="article_list" item="item" separator=",">
			(#{article_id},#{item.Title},#{item.Description},#{item.PicUrl},#{item.Url})
		</foreach>
	</insert>
</mapper>