<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechatserver.mapper.DatebaseDDLMapper">
	<update id="createTable">
CREATE table db_wechatserver.info_material(
	mat_name varchar(15) NOT NULL,
	mat_type varchar(10) NOT NULL,
	mat_id varchar(100) NOT NULL,
	mat_timestamp varchar(14) NOT NULL,
	CONSTRAINT pk_material PRIMARY KEY(mat_name)
);
CREATE INDEX index_material 
ON db_wechatserver.info_material(mat_name,mat_id);

	</update>
	<update id="dropTable">
		DROP TABLE IF EXISTS db_wechatserver.info_material;
	</update>
	<update id="deleteTableData">
		delete form db_wechatserver.resp_message_main;
	</update>
</mapper>